/* styleVendedor.css */

body {
    font: 14px sans-serif;
}

.admin-wrapper {
    width: 800px;
    padding: 20px;
    margin: auto;
}

.admin-options ul {
    list-style-type: none;
    padding: 0;
}

.admin-options ul li {
    margin: 10px 0;
}

.admin-options ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.admin-options ul li a:hover {
    text-decoration: underline;
}
